<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Auto Mobile</title>
	<meta name="author" content="Jake Rocheleau">
	<meta name="description" content="Auto mobile.">
    <meta name="keywords" content="Auto, mobile, cars, marks, model">
    <link rel="shortcut icon" href="http://www.hongkiat.com/blog/favicon.ico">
	<link rel="icon" href="http://www.hongkiat.com/blog/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!--
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>	
        <script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>
        <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.min.css">
	-->
	<link type="text/css" rel="stylesheet" media="all" href="style.css">
	<link type="text/css" rel="stylesheet" media="all" href="responsive.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="script.js"></script>
</head>
<body>
	<div id="w">
		<div id="pagebody">
			<header id="toolbarnav">
				<a href="index.html" id="menu-btn2"></a>			
							<h1><img src="./img/mobile.png" style="width:185px; height:43px; margin-left:-24px;"/></h1>
			</header>
			<div class="panel">
					<section id="content" class="clearfix">
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label style="color:#000; font-size:23px;">Safety</label><span><img class="triangle" src="./img/sa.png"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>GPS System Tracking<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Automatic Stability Control<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Adaptive Head Lights<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Anti-blocking System<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Electronic Stability Control<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>	
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Electronic Breaking Pressure<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Air Bags / Front / Back / Side<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Tyre Pressure Control<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Parktronic<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Dynamic System Stability<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>System Against Icy Roads<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
		        <a href="#" style=" text-decoration: none;"><span class="devider2">Comfort<span><img class="triangle" src="./img/green.png"></span><span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Climat Control<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Climatronic<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Auto Start Stop Function<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label>/span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>DVD TV<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Steptronic, Tiptronic<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Adaptive Air Suspention<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
                <a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Clean System Headlights<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
                <a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Multifunctional Steering Wheel<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
                <a href="#" style=" text-decoration: none;"><span class="nested-list"><label>USB, audio\video, IN\AUX output<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
                <a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Bluetooth \ handsfree system<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Keyless Ignition<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Diferential Block<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Board Computer<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Electronic Power Mirrors <input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Electronic Power WIndows<<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Navigation<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
			    <a href="#" style=" text-decoration: none;"><span class="devider2">Other<span><img class="triangle" src="./img/green.png"></span></span></a>
                <a href="#" style=" text-decoration: none;"><span class="nested-list"><label>7 Seat<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
                <a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Buy Back<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Tuning<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Barter<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Sold!<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Crashed<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Leasing<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>All included<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Service Document<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>New Car<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Gas Bottle<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Parts<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>4x4<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
			    <a href="#" style=" text-decoration: none;"><span class="devider2">Exterior<span><img class="triangle" src="./img/special.png"></span></span></a>					
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>2(3)Doors<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>4(5)Doors<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>LED Headlights<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Xenon Headlights<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Summer Wheels<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Winter Wheels<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Heating Windshield<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Panoramic Sun Roof<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Metalic<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="devider2">Security<span><img class="triangle" src="./img/shield.png"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Alarm<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Armour<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Imobilizar<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Center Locking<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="devider2">Interior<span><img class="triangle" src="./img/green.png"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Leather Saloon<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Regular Saloon<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Right Steering Wheel<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				<a href="#" style=" text-decoration: none;"><span class="devider2">Special<span><img class="triangle" src="./img/special.png"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>TAXI<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>				
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Ambulance<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>				
				<a href="#" style=" text-decoration: none;"><span class="nested-list"><label>Learner<input type="checkbox" id="cbox1" class="check" value="first_checkbox" =""></label></span></a>
				</section>
        </div>
		     <script type="text/javascript" src="js/index.js"></script>
		</div>
<div id="searchButton" class="searchButtonPanel2 dowbleBtns">
    <button data-ng-click="BackFromChoose()" class="grayBtn" id="idserachbtn">Cancel</button>
    <button data-ng-click="ChooseBtn()" class="" id="idserachbtn">OK</button>
  </div>
		</div>	
	</div>
</body>
</html>

