<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Auto Mobile</title>
	<meta name="author" content="Jake Rocheleau">
	<meta name="description" content="Auto mobile.">
    <meta name="keywords" content="Auto, mobile, cars, marks, model">
    <link rel="shortcut icon" href="http://www.hongkiat.com/blog/favicon.ico">
	<link rel="icon" href="http://www.hongkiat.com/blog/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!--
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>	
        <script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>
        <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.min.css">
	-->
	<link type="text/css" rel="stylesheet" media="all" href="style.css">
	<link type="text/css" rel="stylesheet" media="all" href="responsive.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="script.js"></script>
</head>
<body>
	<div id="w">
		<div id="pagebody">
			<header id="toolbarnav">
				<a href="index.html" id="menu-btn2"></a>			
							<h1><img src="./img/mobile.png" style="width:185px; height:43px; margin-left:-24px;"/></h1>
			</header>
			<div class="panel">
<div class="container">
          <div class="accordion">
            <dl>
              <dt><a class="accordionTitle" href="#">A & B</a></dt>
              <dd class="accordionItem accordionItemCollapsed">
           		<section id="content" class="clearfix" >
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Acura<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Alfaromeo<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Aston martin<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Audi<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Austin<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">AC<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="devider">B<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Bentley<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Berliner<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">BMW<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Borgward<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Bugatti<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Buick<span class="arrow"></span></span></a>
			</section>
              </dd>
              <dt><a href="#" class="accordionTitle">C & D</a></dt>
              <dd class="accordionItem accordionItemCollapsed">
               <section id="content" class="clearfix" >
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Cadillac<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Chevrolet<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Corvette<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Chrysler<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Citroen<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">AC<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="devider">D<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Dacia<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Daihatsu<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Daimler<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Dodge<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Dr<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Dkw<span class="arrow"></span></span></a>
			</section>
			 </dd>
              <dt><a href="#" class="accordionTitle">E & F</a></dt>
              <dd class="accordionItem accordionItemCollapsed">
                <section id="content" class="clearfix" >
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Eagle<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="devider">F<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Ford<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Fiat<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Ferrari<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Fso<span class="arrow"></span></span></a>
			</section>
		   </dd>
			  <dt><a href="#" class="accordionTitle">G & H</a></dt>
              <dd class="accordionItem accordionItemCollapsed">
                <section id="content" class="clearfix" >
				<a href="#" style=" text-decoration: none;"><span class="nested-list">GMC<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Great wall<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="devider">H<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Honda<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Hyundai<span class="arrow"></span></span></a>
			</section>
			 </dd>
			  <dt><a href="#" class="accordionTitle">I & J</a></dt>
              <dd class="accordionItem accordionItemCollapsed">
               <section id="content" class="clearfix" >
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Ifa<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Infinity<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Isuzu<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="devider">J<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Jaguar<span class="arrow"></span></span></a>
			</section>
			 </dd>
			  	  <dt><a href="#" class="accordionTitle">K & L</a></dt>
              <dd class="accordionItem accordionItemCollapsed">
                 <section id="content" class="clearfix" >
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Kia<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="devider">L<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Lada<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Lamborghini<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Lancia<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Lexus<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Lifan<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Lotus<span class="arrow"></span></span></a>
			</section>
			  </dd>
			  	  <dt><a href="#" class="accordionTitle">M & N</a></dt>
              <dd class="accordionItem accordionItemCollapsed">
                  <section id="content" class="clearfix" >
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Maserati<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Matra<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Maybach<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Mazda<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">McLaren<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Mercedes<span class="arrow"></span></span></a>
                <a href="#" style=" text-decoration: none;"><span class="nested-list">Mitsubishi<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Mini<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="devider">N<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Nissan<span class="arrow"></span></span></a>				
			</section>
			 </dd>
			  	  <dt><a href="#" class="accordionTitle">O & P</a></dt>
              <dd class="accordionItem accordionItemCollapsed">
			      <section id="content" class="clearfix" >
               <a href="#" style=" text-decoration: none;"><span class="nested-list">Opel<span class="arrow"></span></span></a>
			  <a href="#" style=" text-decoration: none;"><span class="devider">P<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Peugeot<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Pontiac<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Porsche<span class="arrow"></span></span></a>
				</section>
			  </dd>
			  	  <dt><a href="#" class="accordionTitle">Q & R</a></dt>
              <dd class="accordionItem accordionItemCollapsed">
               <section id="content" class="clearfix" >
			   <a href="#" style=" text-decoration: none;"><span class="devider">R<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Renault<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Rover<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Rolls Royce<span class="arrow"></span></span></a>			
			</section>
			  </dd>      
				  <dt><a href="#" class="accordionTitle">S & T</a></dt>
              <dd class="accordionItem accordionItemCollapsed">
               <section id="content" class="clearfix" >
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Saab<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Saturn<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Scion<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Seat<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Skoda<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Smart<span class="arrow"></span></span></a>
                <a href="#" style=" text-decoration: none;"><span class="nested-list">Ssang yong<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Subaru<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Suzuki<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="devider">T<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Toyota<span class="arrow"></span></span></a>		
			</section>
			 </dd>
			  	  <dt><a href="#" class="accordionTitle">U & V</a></dt>
              <dd class="accordionItem accordionItemCollapsed">
               <section id="content" class="clearfix" >
				
				<a href="#" style=" text-decoration: none;"><span class="devider">V<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Vromos<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Volga<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">Volvo<span class="arrow"></span></span></a>
				<a href="#" style=" text-decoration: none;"><span class="nested-list">VW<span class="arrow"></span></span></a>			
			</section>
			</dd>
			  	  <dt><a href="#" class="accordionTitle">W & X</a></dt>
              <dd class="accordionItem accordionItemCollapsed">
               <section id="content" class="clearfix" >
				<a href="#" style=" text-decoration: none;"><span class="devider">There Are No Cars Available!!!<span class="arrow"></span></span></a>			
			</section>
			</dd>
			  	  <dt><a href="#" class="accordionTitle">Y & Z</a></dt>
              <dd class="accordionItem accordionItemCollapsed">
                <section id="content" class="clearfix" >
				<a href="#" style=" text-decoration: none;"><span class="devider">There Are No Cars Available!!!<span class="arrow"></span></span></a>			
			</section>
			  </dd>	
            </dl>			  
          </div>
        </div>
		 <script type="text/javascript" src="js/index.js"></script>
		</div>
<div id="searchButton" class="searchButtonPanel2 dowbleBtns">
    <button data-ng-click="BackFromChoose()" class="grayBtn" id="idserachbtn">Cancel</button>
    <button data-ng-click="ChooseBtn()" class="" id="idserachbtn">OK</button>
  </div>
		</div>
		<div id="navmenu">	
				<ul>
					<li><a href="#homepage.html" class="navlink"><img src="img/search-blue0.svg" data-ng-click="newSearch();">Home</a></li>
					<li><a href="#about.html" class="navlink"><img src="img/book-blue-22.svg" data-ng-click="newSearch();">About Us</a></li>
					<li><a href="#advertise.html" class="navlink"><img src="img/filtri0.svg" data-ng-click="newSearch();">Advertise</a></li>
					<li><a href="#write.html" class="navlink"><img src="img/desktop-blue0.svg" data-ng-click="newSearch();">Write for Us</a></li>
					<li><a href="#privacy.html" class="navlink"><img src="img/user-ico0.svg" data-ng-click="newSearch();">Privacy Policy</a></li>
				</ul>
		</div>
	</div>
</body>
</html>

