<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Auto Mobile</title>
	<meta name="author" content="Jake Rocheleau">
	<meta name="description" content="Auto mobile.">
    <meta name="keywords" content="Auto, mobile, cars, marks, model">
    <link rel="shortcut icon" href="http://www.hongkiat.com/blog/favicon.ico">
	<link rel="icon" href="http://www.hongkiat.com/blog/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!--
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>	
        <script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>
        <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.min.css">
	-->
	<link type="text/css" rel="stylesheet" media="all" href="style.css">
	<link type="text/css" rel="stylesheet" media="all" href="responsive.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="script.js"></script>
</head>
<body>
	<div id="w">
		<div id="pagebody">
			<header id="toolbarnav">
				<a href="index.html" id="menu-btn2"></a>			
								<h1><img src="./img/mobile.png" style="width:185px; height:43px; margin-left:-24px;"/></h1>
			</header>
			<div class="panel">
            <div data-demo-html="true">
             <label for="text-basic" class="ui-input-text">From</label>
             <div class="ui-input-text ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-c"><input type="text" name="text-basic" id="text-basic" value="" class="ui-input-text ui-body-c"></div>
        </div>
		 <div data-demo-html="true">
             <label for="text-basic" class="ui-input-text">To</label>
             <div class="ui-input-text ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-c"><input type="text" name="text-basic" id="text-basic" value="" class="ui-input-text ui-body-c"></div>
        </div>
		     <label for="text-basic" class="ui-input-text">Currency</label>
		 <div class="ui-select"><div data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-icon="arrow-d" data-iconpos="right" data-theme="c" class="ui-btn ui-shadow ui-btn-corner-all ui-btn-icon-right ui-btn-up-c"><span class="ui-btn-inner"><span class="ui-btn-text"><span>Standard: Currency $</span></span><span class="ui-icon ui-icon-arrow-d ui-icon-shadow">&nbsp;</span></span><select name="select-choice-1" id="select-choice-1">
                <option value="rush">EUR</option>
                <option value="express">USD</option>
                <option value="overnight">Lv</option>
            </select></div></div>
		</div>
<div id="searchButton" class="searchButtonPanel2 dowbleBtns">
    <button data-ng-click="BackFromChoose()" class="grayBtn" id="idserachbtn">Cancel</button>
    <button data-ng-click="ChooseBtn()" class="" id="idserachbtn">OK</button>
  </div>
		</div>
	</div>
</body>
</html>

