@charset "utf-8";
/* CSS Document */
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'HKGrotesk';
	src:url('../fonts/HKGrotesk-Bold.eot');
	src:url('../fonts/HKGrotesk-Light.woff') format('woff');
}
.container-fluid {
	background: #fff !important;
	}

body {
	/*background: url("/img/backnbu.jpg") top center no-repeat !important;
	background-size: 100% 100%;*/
	font-family: 'HKGrotesk-Light' !important;
	}
	
	
	.wrap{
	background-image: url("../img/backlift.jpg");
	max-width: 100%;
    height: auto;
    min-height: 770px;
	padding: 0;
    background-position: top -80px center !important;
    background-attachment: fixed;

}

}

header {
	position: relative;
	background-color: transparent !important;
	height: auto;
}
.topHeading {
	padding: 40px 0 40px 0;
	font-size: 40px;
	border-bottom: 1px solid grey;
	font-family: aktiv-grotesk, sans-serif
}
.formWrapper {
	border: 1px solid grey;
    border-radius: 8px;
    width: 103%;
    height: 324px;
	margin-top: 7px
}
.formHeading {
	width: 95%;
    height: 40px;
    line-height: 50px;
    display: block;
    margin: 12px auto 15px auto;
    text-align: center;
    color: #820018;
    background-color: #820018;
    border-radius: 8px;
}

.formHeadingButton{
	width: 95%;
    height: 40px;
    line-height: 42px;
    display: block;
    margin: 20px auto 20px auto;
    text-align: center;
    color: #820018;
    background-color: #820018;
    border-radius: 8px;
    cursor: pointer;
}

.formWrapper input {
	width: 95%;
    display: block;
    margin: 0 auto 12px auto;
    color: white;
    background-color: #413c40;
    border: none;
    border-radius: 4px;
    height: 37px;
    line-height: 50px;
    padding: 0 20px 0 20px;
    font-size: 16px;
    font-family: aktiv-grotesk, sans-serif;
}
.topHeading2 {
	font-size: 40px;
	color: #c62026;
	margin: 0;
	text-transform: uppercase;
	font-family: aktiv-grotesk, sans-serif
}
.firstRow p {
	color: white;
	margin-top: 10px;
	font-size: 22px;
	font-family: aktiv-grotesk, sans-serif
}

.small {
	color: white !important;
    margin-top: 10px !important;
    font-size: 17px !important;
    font-family: aktiv-grotesk, sans-serif !important;
    line-height: 42px;
    font-style: normal !important;
    font-weight: 600 !important;
}


.firstRow {
	margin-top: 20px;
	margin-bottom: 173px;
	margin-left: -17px;
}
.secondRow {
	margin: 0 0 50px 0;
	color: #fff;
	font-size: 19px;
}
.reminder p {
	width: 1156px;
	margin: 0 auto;
}
#mobileTexts {
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
}
.mobileHeadings {
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
	text-align: center;
}
.mobileHeadings h1 {
	font-size: 44px;
}
.mobileHeadings h2 {
	font-size: 30px;
}
#mobileTexts p {
	display: inline-block;
}
#secondRowButton {
	padding-left: 150px;
	margin-top: 10px;
}
.mobileRow {
	display: none;
}
.mobileRow2 {
	display: none;
}
.stepsImage {
	width: 100%;
}
.mobImage {
	display: none;
}
h1 {
	margin-top: 0;
	font-size: 45px;
	text-transform: uppercase;
	font-weight: bold;
}
h1, h2 {
	border-bottom: none;
	color: white;
}
h2 {
	margin: 20px 0 0 0;
	font-size: 25px;
}
.bullets {
	display: inline-block;
}
.hLine {
	height: 2px;
	display: block;
	border-top: none;
	background-color: white;
	opacity: 0.4;
	width: 70%;
	margin-right: 30%;
	float: left;
}
#registernow {
	position: absolute;
	left: 51.4%;
	max-width: 370px;
	margin-left: 155px;
	height: auto;
	top: 75%;
	z-index: 110;
}
.mobileSteps {
	display: none;
}
#banner {
	display: block;
}
#banner1 {
	display: none;
}
#banner2 {
	display: none;
}
#banner3 {
	display: none;
}
#openAccount {
	display: block;
}
#openAccountMobile {
	display: none;
}
#openAccountTablet {
	display: none;
}
.metafrontpanel {
	background: url(../img/metapanelback.png) top center no-repeat;
}
.metafrontpanelin {
	margin-top: 20px;
	background: #f3f3f3;
	border: 0px none !important;
}
.metafrontpanel .panel-heading, .metafrontpanel .panel-footer {
	background: none !important;
}
.linedivider {
	margin-top: 15px;
	margin-bottom: 10px;
}
.first a {
	color: #3E61B4 !important;
}
.fph {
	height: 140px !important;
}
.fph h4 span {
	font-weight: normal;
	font-size: .65em;
	color: #000;
}
.fiftypxspacer {
	height: 50px;
}
.thirtypxspacer {
	height: 30px;
}
.frontpanel {
	height: 600px;
}
.phantom-btn {
	width: 156px;
	height: 30px;
	background: transparent !important;
	color: transparent !important;
	border-right: 0px none !important;
	cursor: default;
	visibility: hidden !important;
}
.separator {
	padding-top: 15px;
	height: 18px;
	border-top: 1px solid #ddd;
	background-color: white;
}
.reminder {
	padding: 20px 0;
	font-size: .8em;
	color: #999;
	text-align: justify;
	background-color: white;
}
footer {
    background: #F2F2F2 none repeat scroll 0% 0%;
    color: #526C86;
    height: 50px;
	position: fixed;
	width: 100%;
	bottom: 0;
    padding-top: 30px;
}
footer a {
	font-size: 1em;
	color: #526C86;
	font-family: 'Open Sans',sans-serif,Verdana;
	text-decoration: underline;
}
footer a:hover {
	text-decoration:underline;
	color:#ccc;
}
footer a:focus {
	border:none;
	text-decoration:none;
}
footer ul {
	padding: 0;
	width: 410px;
	margin: auto;
}
footer li {
	padding: 0 10px;
	text-align: center;
	float: left;
	list-style: none;
}
#arrowChrome {
    position: absolute;
    left: 50px;
    bottom: 2%;
}

/* RESPONSIVE STUFF */

@media (max-width: 1200px){
	.reminder p {
		width: 976px;
	}
	.headerBg {
/*		background-image: url("../img/LP1backgroundPC1200.jpg");	*/
	}
	.pcImage {
		width: 90%;
	}
	.stepsImage {
		width: 90%;
	}
	#secondRowButton {
		padding-left: 8px;
		margin-top: 5px;
	}
	#arrowChrome {
		display: none !important;
	}
	
}

@media (max-width: 1025px){

	.mobileSteps {
		display: block;
	}
	.pcSteps {
		display: none;
	}
	.secondRow {
	     margin: -1px 0 50px 0;
	}
	
}

@media (max-width:991px) {				
		.reminder p {
		width: 736px;
	}
	.headerBg {
/*		background-image: url("../img/LP1backgroundPC991.jpg");		*/
	}
	h1 {
		font-size: 28px;
	}
	h2 {
		font-size: 19px;
	}
	#secondRowButton {		
		padding-left: 8px;
	}
	.secondRow {
		margin: 20px 0 30px 0;
	}
	.spreads-box {
		height: 160px;
	}
	.spreads-box li {
		padding-top: 20px;
		height: 70px;
		padding-left: 50px;
	}
	.spreads-box li:nth-child(4) {
		border-left: 1px solid #ccc !important;
	}
	
	.topHeading {
    padding: 18px 9px 17px 7px;
    font-size: 38px;
    text-align: center;
    border-bottom: 1px solid grey;
}

.formWrapper {
    border: 1px solid grey;
    border-radius: 8px;
    /* width: 47em; */
    /* height: 31em; */
}

.topHeading2 {
    font-size: 21px;
    color: #c72027;
    margin: 0;
    /* text-align: center; */
    text-transform: uppercase;
}

.firstRow {
	margin-top: 0px;
    font-size: 0px;
	margin-bottom: 65px;
}
.firstRow p {
    color: white;
    margin-top: 1px;
    font-size: 21px;
}

#navbar{
	margin-top: -86px !important;
    padding-top: 15px;
    height: 89px;
}

.down{

	margin-top: 42px !important;
    margin-left: -7px !important;
}
	
	
}

@media (max-width:767px) {
	.reminder p {
		width: 90%;
	}
	.headerBg {
/*		background-image: url("../img/LP1backgroundPC767.jpg");
		background-size: cover;	*/
	}
	body {
		padding: 0;
		background-position: top -80px center !important;
	}
	.navbar-inverse {
		display: none;
	}
	.mobileRow {
		display: block;
	}
	.mobileRow2 {
		display: block;
	}
	.pcImage {
		display: none;
	}
	.mobImage {
		display: block;
	}
	.mobileLogo {
		margin: 10px auto 10px auto;
	}
	.logoto {
		width: 130px;
		height: 34px;
	}
	.frontpanel, .panel-edu {
		height: auto;
	}
	.metafrontpanel {
		background: #f3f3f3;
	}
	.spreads-box {
		height: 230px;
	}
	.spreads-box li {
		padding-left: 70px;
	}
	.spreads-box li:nth-child(4) {
		border-left: 0px none !important;
	}
	#secondRowButton {
		padding: 0;
		margin: 20px 0 20px 0;
	}
	.mobileHeadings h1 {
		font-size: 24px;
		margin: 0;
	}
	.mobileHeadings h2 {
		font-size: 16px;
		margin: 10px 0 0 0;
	}
	.firstRow {
		margin: -1px auto 0 auto;
		width: 85%;
		margin-bottom: 65px;

	}
	.secondRow {
		width: 85%;
		margin: 6px auto;
	}
	.mobileRow2 {
		width: 85%;
		margin: 0 auto;
	}
	#mobileTexts {
		padding: 0;
	}
	#mobileTexts img {
		margin: 	0 5px 3px 0;
	}
	#openAccount img {
		width: 100%;
	}
	.mobileSteps {
		display: block;
	}
	
	.topHeading {
    padding: 18px 9px 17px 7px;
    font-size: 35px;
    text-align: center;
    border-bottom: 1px solid grey;
}

footer {
    background: #F2F2F2 none repeat scroll 0% 0%;
    color: #526C86;
    height: 67px;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding-top: 12px;
}
	
}

@media (max-width:768px){
	
footer {
    background: #F2F2F2 none repeat scroll 0% 0%;
    color: #526C86;
    height: 67px;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding-top: 12px;
}	
	
}

@media (max-width:768px) and (orientation: landscape) {
	
	.firstRow {
	
		margin-bottom: 65px;

	}
	.secondRow {
		width: 70%;
	}
	.mobileRow2 {
		width: 70%;
	}
	.mobileHeadings h1 {
		font-size: 36px;
	}
	.mobileHeadings h2 {
		font-size: 22px;
	}
	#mobileTexts p {
		font-size: 18px;
	}
	
	
}

@media (max-width: 679px) {
	
	.spreads-box li {
		padding-left: 10px;
	}
	.spreads-box li:nth-child(4) {
		border-left: 0px none !important;
	}
	footer ul {
		width: 280px;
		margin: auto;
	}
	.stepsImage {
		width: 100%;
		margin-bottom: 10px;
	}
	footer li {
		font-size: .9em;
		padding: 0 4px;
		text-align: center;
		float: left;
		list-style: none;
	}
	.reminder {
		padding: 20px 0;
		margin: 0 8px 0 8px;
	}
	
	.topHeading {
    padding: 18px 9px 17px 7px;
    font-size: 36px;
    text-align: center;
    border-bottom: 1px solid grey;
}
	
}

@media screen and (max-width: 690px) {


.topHeading {
    padding: 18px 9px 17px 7px;
    font-size: 29px;
    text-align: center;
    border-bottom: 1px solid grey;
}

}


@media screen and (max-width: 420px) {

.firstRow p {
    color: white;
    margin-top: 10px;
    font-size: 17px;
}

.small {
	color: white !important;
	margin-top: 10px !important;
	font-size: 16px !important;
	font-family: aktiv-grotesk, sans-serif !important;
	font-style: normal !important;
	font-weight: 600 !important;
}

.topHeading2 {
    font-size: 20px;
    color: #c72027;
    margin: 0;
    text-transform: uppercase;
}



}



@media (max-width:767px) and (orientation: landscape) {
	
	
	
}

@media (max-width: 679px) {
	
	
	
}


@media (max-width: 568px) and (orientation: landscape){

.topHeading2 {
    font-size: 20px;
    color: #c72027;
    margin: 0;
    /* text-align: center; */
    text-transform: uppercase;
}

.firstRow p {
    color: white;
    margin-top: 1px;
    font-size: 19px;
}

.small {
	color: white !important;
	margin-top: 10px !important;
	font-size: 19px !important;
	font-family: aktiv-grotesk, sans-serif !important;
	font-style: normal !important;
	font-weight: 600 !important;
}

}

@media (max-width: 480px) and (orientation: landscape){
.firstRow p {
    color: white;
    margin-top: 1px;
    font-size: 17px;
   }
   
   .small {
	color: white !important;
	margin-top: 10px !important;
	font-size: 17px !important;
	font-family: aktiv-grotesk, sans-serif !important;
	font-style: normal !important;
	font-weight: 600 !important;
}


   .topHeading2 {
    font-size: 16px;
    color: #c72027;
    margin: 0;
    /* text-align: center; */
    text-transform: uppercase;
}

}

@media(max-width: 360px){

.topHeading2 {
    font-size: 17px;
    color: #c72027;
    margin: 0;
    text-transform: uppercase;
   }
}

@media(max-width: 320px){

.firstRow p {
    color: white;
    margin-top: 1px;
    font-size: 15px;
}

.small {
	color: white !important;
	margin-top: 10px !important;
	font-size: 14px !important;
	font-family: aktiv-grotesk, sans-serif !important;
	font-style: normal !important;
	font-weight: 600 !important;
}

.topHeading2 {
    font-size: 15px;
    color: #c72027;
    margin: 0;
    text-transform: uppercase;
}
	 
}
